<h1>Edit</h1>

<form [formGroup]="form">

  <mat-form-field>
    <input matInput formControlName="date" placeholder="Date" [matDatepicker]="datepicker">
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>

    <mat-error *ngIf="form.get('date')?.errors?.['required']">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput min="1" max="24" formControlName="hours" placeholder="Time">

    <mat-error *ngIf="form.get('hours')?.errors?.['required']">
      This field is required.
    </mat-error>

    <mat-error *ngIf="form.get('hours')?.errors?.['pattern']">
      This field must contain numbers from 1 to 24
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput rows="9" formControlName="message" placeholder="Note"></textarea>

    <mat-error *ngIf="form.get('hours')?.errors?.['required']">
      This field is required.
    </mat-error>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="done">Is completed</mat-checkbox>

    <button mat-fab (click)="toggleRemoveModal()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

    <button class="update-btn" type="button" routerLink="/list" (click)="updateTrack()">Edit</button>

</form>

<app-confirmation-modal
  *ngIf="isShowConfirmDialog"
  (close)="toggleRemoveModal()"
  (remove)="removeTrack()"
  >

</app-confirmation-modal>


