h1 {
  text-align: center;
  color: #F6EAD4;
  font-family: 'MuseoModerno', serif;
  font-weight: 800;
  font-size: 36px;
  margin: 58px 0;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  display: block;
  margin: 16px auto;
  width: 335px;
  height: 62px;

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: #312F36;
    border-radius: 36px;
    font-family: 'MuseoModerno', serif;
    font-weight: 500;
    font-size: 19.1847px;
    color: #625F65;
  }

  ::ng-deep .mdc-text-field .mdc-text-field__input {
    color: #C1C0C2;
  }
}

textarea {
  resize: none;
}

mat-checkbox {
  position: relative;
  top: 185px;
  left: 25px;

  ::ng-deep .mdc-form-field>label {
    font-family: 'MuseoModerno', serif;
    font-weight: 500;
    font-size: 16px;
    color: #C1C0C2;
  }
}

.material-icons {
  color: #FF4B4B;
  cursor: pointer;
}

::ng-deep .mat-mdc-fab.mat-accent {
  position: relative;
  top: 185px;
  left: 170px;
  background-color: transparent;
  box-shadow: none;
}

.update-btn {
  width: 335px;
  height: 62px;
  position: relative;
  top: 240px;
  background: #686082;
  border-radius: 134px;
  border: none;
  margin: auto;
  font-family: 'MuseoModerno', serif;
  font-weight: 800;
  font-size: 24px;
  color: #F6EAD4;
}

.update-btn:hover {
  cursor: pointer;
  transition: 0.5s;
  background: #5d5675;
}




